/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

/*Navbar ---------- */
.header-navbar {
  display: flex;
  justify-content: space-between;
}

.header-navbar_logo {
  width: 10%;
  height: 10%;
  align-self: center;
}

.header-navbar_links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 80px;
  width: 25%;
  list-style: none;
}

.header-navbar_links > li > a:hover {
  color: #0065fc;
  border-top: #0065fc solid 2px;
  padding-top: 6px;
}
/*Navbar --------- */
/* header-title --------- */

.header-title {
  width: 60%;
  font-size: 1.1em;
}

.header-title_span {
  font-size: 0.7em;
  font-weight: 300;
}
/* header-title --------- */
/* header-Form --------- */
.header-form {
  margin: 25px 0 25px 0;
  align-content: center;
  height: 50px;
}

/* Icône de localisation*/
.fa-solid.fa-location-dot {
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
}
/* Icône de Recherche*/
.fa-solid.fa-magnifying-glass {
  display: none;
}
/* ------------------------*/
.header-form_input {
  padding: 15px;
  border: none;
}
.header-form_input::placeholder {
  color: black;
  font-weight: 600;
  font-size: 1.2em;
}
.header-form_label {
  background-color: #0065fc;
  color: white;
  border-radius: 0 15px 15px 0;
  padding: 15px;
}
/* header-Form --------- */

/* header-Filtres --------- */
.header-filtres {
  display: flex;
  list-style: none;
  font-weight: 600;
  padding-inline-start: 0;
}
.header-filtres_title {
  padding: 15px 15px 15px 0;
}
.header-filtres_all {
  padding: 15px;
  margin-left: 10px;
  border: solid 1px #f2f2f2;
  border-radius: 25px;
}

.header-filtres_all:hover {
  background-color: #deebff;
}

/*Icône des Filtres */

.fa-solid.fa-money-bill-1-wave,
.fa-solid.fa-person,
.fa-solid.fa-heart,
.fa-solid.fa-fire {
  padding-right: 10px;
}

/* header-Filtres --------- */

/* header-info --------- */
.header-info {
  display: flex;
  flex-direction: row;
  height: 40px;
  padding: 10px;
  align-items: center;
}

.fa-solid.fa-info {
  border: solid 1px #deebff;
  padding: 5px 10px;
  border-radius: 50px;
  margin: 0 10px 0 10px;
}

.header-info_title {
  font-size: 1em;
  font-weight: 500;
}
/* ---------------------- */
/* Fin du Header */

/* Début du Main */
.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
