/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;

  --input-padding: 15px;
  --margin-hebergement-cards: 7px;
  --padding-footer-li: 8px 0 8px 0;

  --font-weight-text: 600;
  --font-size-placeholder: 1.2em;
  --font-size-h2: 1.5em;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

/*Navbar ---------- */
.header-navbar {
  display: flex;
  justify-content: space-between;
}

.header-navbar_logo {
  width: 70px;
  align-self: center;
}

.header-navbar_links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px 50px 0 0;
  padding: 0;
  gap: 50px;
  height: 80px;
  width: 20%;
  list-style: none;
}

.header-navbar_links > li > a:hover {
  color: var(--main-color);
  border-top: var(--main-color) solid 2px;
  padding-top: 16px;
}
/*Navbar --------- */
/* header-title --------- */

.header-title {
  width: 60%;
  font-size: 1.1em;
}

.header-title_span {
  font-size: 0.7em;
  font-weight: 300;
}
/* header-title --------- */
/* header-Form --------- */
.header-form {
  margin: 25px 0 25px 0;
  align-content: center;
  height: 50px;
}

/* Icône de localisation*/
.fa-solid.fa-location-dot {
  padding: var(--input-padding);
  background-color: var(--main-bg-color);
  border-radius: 15px 0 0 15px;
  color: black;
}
/* Icône de Recherche*/
.fa-solid.fa-magnifying-glass {
  display: none;
}
/* ------------------------*/
.header-form_input {
  padding: var(--input-padding);
  border: none;
}
.header-form_input::placeholder {
  color: black;
  font-weight: var(--font-weight-text);
  font-size: var(--font-size-placeholder);
}
.header-form_label {
  background-color: var(--main-color);
  color: white;
  border-radius: 0 15px 15px 0;
  padding: var(--input-padding);
}
/* header-Form --------- */

/* header-Filtres --------- */
.header-filtres {
  display: flex;
  list-style: none;
  font-weight: var(--font-weight-text);
  padding-inline-start: 0;
}
.header-filtres_title {
  padding: 15px 15px 15px 0;
}
.header-filtres_all {
  padding: 15px;
  margin-left: 10px;
  border: solid 1px var(--main-bg-color);
  border-radius: 25px;
}

.header-filtres_all:hover {
  background-color: var(--filter-bg-color);
}

/*Icône des Filtres */

.fa-solid.fa-money-bill-1-wave,
.fa-solid.fa-person,
.fa-solid.fa-heart,
.fa-solid.fa-fire {
  padding-right: 10px;
}

/* header-Filtres --------- */

/* header-info --------- */
.header-info {
  display: flex;
  flex-direction: row;
  height: 40px;
  padding: 10px 10px 10px 0;
  align-items: center;
}

.fa-solid.fa-info {
  border: solid 1px var(--filter-bg-color);
  font-size: 10px;
  padding: 5px 8px;
  border-radius: 50px;
  margin: 0 10px 0 0;
}

.header-info_title {
  font-size: 1em;
  font-weight: 500;
}
/* ---------------------- */
/* Fin du Header */

/* Début du Main */
/****** Hebergements ***********/
#hebergements {
  width: 62%;
  padding: 20px;
}
.hebergements-title {
  margin: 10px 0 30px 0;
  font-size: var(--font-size-h2);
}

.hebergements-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.hebergements-cards_unit {
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  height: 200px;
  width: 30%;
  padding: 3px;
}
.hebergements-cards_unit > img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.hebergements-cards_unit > h3 {
  font-size: 1em;
  font-weight: var(--font-weight-text);
  margin: var(--margin-hebergement-cards);
}
.hebergements-cards_unit > p {
  font-size: 0.9em;
  margin: var(--margin-hebergement-cards);
}
.card-rating {
  margin-left: var(--margin-hebergement-cards);
}

.hebergements-cards_afficherplus {
  display: block;
  font-size: 1.2em;
  font-weight: var(--font-weight-text);
  margin-top: 40px;
}
/* Fin de Hébergement à Marseille */

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-h2);
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Section Activités à Marseille */
#activites {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
}

.activites-title {
  margin: 0 0 30px 30px;
  font-size: var(--font-size-h2);
}

.activites-allcards {
  display: flex;
  gap: 30px;
  margin: 0 30px;
}

.activites-cards {
  display: block;
  height: 420px;
  width: 25%;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.activites-cards > img {
  object-fit: cover;
  width: 100%;
  height: 85%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites-cards > h3 {
  padding-left: 20px;
  font-size: 1em;
}
/* Section Activités à Marseille */

/* ----------- Footer */

#footer {
  display: flex;
  width: 100%;
  list-style: none;
  background-color: var(--main-bg-color);
  gap: 250px;
}

.footer-title {
  font-weight: var(--font-weight-text);
}

.footer-list {
  padding-left: 20px;
  list-style: none;
}

.footer-list > li {
  padding: var(--padding-footer-li);
}

/* -----------Fin Footer */

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .main-container {
    max-width: 1440px;
    min-width: 320px;
  }

  /*Header Filtres ----------*/
  .header-filtres {
    display: flex;
    flex-wrap: wrap;
  }
  .header-filtres_all {
    margin: 0 15px 0 0;
  }
  .header-filtres_title {
    flex-basis: 100%;
  }
  /*Header Filtres ----------*/

  /*Hebergement a Marseille ----------*/
  .hebergements-and-populaires {
    flex-direction: column;
  }

  #hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 32%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /*Section Activités à Marseille */
  .activites-allcards {
    gap: 20px;
  }
  .activites-cards {
    height: 250px;
  }
  .activites-cards > img {
    height: 75%;
  }
  .activites-cards > h3 {
    font-size: 0.8em;
    padding-right: 10px;
    align-content: center;
    justify-content: flex-start;
  }
  /*Section Activités à Marseille */

  #footer {
    gap: 90px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
  * {
    padding: 0;
    margin: 0;
  }
  .main-container {
    color: purple;
    max-width: 1440px;
    min-width: 320px;
    padding: 0;
  }

  /* Header-navbar -------- */
  .header-navbar {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .header-navbar_logo {
    margin: 30px 0 30px 0;
  }
  .header-navbar_links {
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: space-between;
    margin: 0;
    gap: 0;
  }
  .header-navbar_links li {
    width: 50%;
    text-align: center;
  }
  .header-navbar_links a {
    display: block;
    width: 100%;
    padding: 10px 0 20px 0;
  }

  .header-navbar_hebergement {
    color: var(--main-color);
  }
  .header-navbar_activites {
    color: black;
  }

  .header-navbar_activites::after {
    content: "";
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 49vw;
    height: 2px;
    background-color: var(--main-bg-color);
  }

  .header-navbar_hebergement::after {
    content: "";
    position: absolute;
    bottom: 20%;
    left: -10%;
    width: 60vw;
    height: 2px;
    background-color: var(--main-color);
  }

  /* Fin Header-navbar --------------- */

  /* Header-title --------------- */
  .header-title {
    justify-self: center;
    width: 90%;
    font-size: 1.4em;
  }
  /* Fin Header-title --------------- */

  /* Header-From --------------- */
  .header-form {
    display: flex;
    justify-content: center;
  }

  .header-form_label {
    display: none;
  }

  .header-form_input {
    border: solid 1px var(--main-bg-color);
    width: 200px;
  }

  .fa-solid.fa-magnifying-glass {
    transform: translateX(-20px);
    display: block;
    color: white;
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    border-radius: 15px;
    align-content: center;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  /* Fin Header-Form --------------- */

  /* Header-filtre --------------- */
  .header-filtres_title {
    margin-left: 20px;
  }
  .header-filtres {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-filtres_all {
    text-align: center;
    margin: 8px 4px;
    border: solid 3px var(--main-bg-color);
    width: 32%;
    font-size: 0.9em;
    padding: 12px 15px;
  }

  .fa-solid.fa-fire,
  .fa-solid.fa-heart,
  .fa-solid.fa-person,
  .fa-solid.fa-money-bill-1-wave {
    font-size: 18px;
    margin-right: 0px;
  }

  /* Fin Header-filtre --------------- */
  /* Header-info --------------- */
  .fa-solid.fa-info {
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    padding: 7px;
    width: 13px;
    margin-left: 30px;
  }

  .header-info_title {
    font-size: 1em;
  }
  /* Header-info --------------- */

  /* hebergement et populaires --------------- */
  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
  }
  .hebergements-and-populaires section {
    border-radius: 0%;
    width: 100%;
  }

  /* Section populaires --------------- */
  .populaires {
    margin: 0 0 20px 0;
    width: 100%;
  }
  .populaires-title > h2 {
    font-size: 20px;
  }
  .populaires-title > i {
    font-size: 15px;
  }
  .populaires-cards {
    display: flex;
    display: block;
    flex-direction: column;
  }

  .card-content {
    width: 90%;
  }
  .populaires-cards .card-title {
    font-size: 0.8em;
  }
  .populaires-cards .card-subtitle {
    font-size: 0.7em;
  }

  .populaires-cards .card-rating {
    font-size: 0.7em;
    margin: 0;
  }

  .populaires-cards .card {
    margin: 15px 0;
  }

  /* Section hebergement --------------- */
  #hebergements {
    background-color: white;
  }

  .hebergements-title {
    font-size: 1.4em;
    margin-left: 20px;
  }
  .hebergements-cards {
    justify-content: center;
  }
  .hebergements-cards_unit {
    width: 90%;
    height: 250px;
    display: block;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }

  .hebergements-cards_unit > img {
    height: 60%;
  }
  /* Fin Section hebergement --------------- */
  /* Section Activités  --------------- */
  #activites {
    width: 100%;
    height: 1100px;
  }
  .activites-title {
    margin-left: 50px;
  }

  .activites-allcards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .activites-cards {
    width: 90%;
  }
  .activites-cards > h3 {
    font-size: 1em;
    margin-top: 15px;
  }
  /* Fin Section Activités  --------------- */

  /* Section Footer  --------------- */
  #footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer-list {
    margin: 10px 0 0 10px;
  }
}
